<template>
  <div>
    <promogenerico-component/>
    <nuxt/>
    <footer-component/>
  </div>
</template>
<script>
import PromogenericoComponent from '~/components/common/Promogenerico.vue'
  import FooterComponent from '~/components/common/Footer.vue'
  export default {
    components: {
      PromogenericoComponent,
      FooterComponent
    }
  };
</script>
