<template>
   <div class="section_color">
   <gtag-content/>
  <div class="container-fluid pAbsolute capa4 mt-3">
      <div class="container">
     <div class="row ">   
            <div class="col-6 col-sm-6 col-md-3 mb-2 text-center">
             <img class="logotipo d-none d-sm-none d-md-block mlmovile" src="/img/mejorseguro.png">
             <img class="logotipo d-sm-block d-md-none" src="/img/mejorseguro.svg">
              </div>
              <div class="col-6 col-sm-6 col-md-3 mb-2 text-center d-none d-sm-none d-md-block mleftrate"> 
              <p class="label_star color_star"> &#9733; <span class="bol">4.5</span></p>
              <br>
              <span class="span_text">MEJOR CALIFICADO</span>
              </div>
            

             <div class="col-6 col-sm-6 col-md-3 mb-0 text-center text-white d-none d-sm-none d-md-block"> 
             
              </div>     
              <div class="col-6 col-sm-6 col-md-3 text-center">
              <div class="btn btn-light margin-40">
              <a  :href="'tel:'+$store.state.config.telefonoAS" class="center f13"><img src="/img/phone.png" class="mr-1 telsize" /> {{$store.state.config.telefonoAS}}</a>
              </div>
              </div>
      </div>
    </div>
    </div>
  <div class="container-fluid">
    <section>
      <div class="row contenier_position colorAseg">
       <div class="d-none d-sm-none d-md-block col-lg-12 capa2 pAbsolute back1 ovehidden pcero">
        </div>
       
          <div class="d-none col-lg-12 capa2 pAbsolute back3 ovehidden pcero">
        </div>
        <div class="col-lg-12 capa2 he550 he550thank">
          <div class="row">
             <div class="col-lg-5 col-md-4 col-sm-3 col-xs-12 offset-lg-1 d-none d-md-block m-lflogo">

              <div class="textwhite mab txtw1 mt-0">
                <div class="txtw1 padd">
                  <br/>
                  <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 m-lf">
                    <img class="logo-2x" src="/img/multiva.svg" alt="seguros multiva">
                    <h1 class="text_hi">Cotiza Multiva Seguros Autos</h1>
                     <p class="p_subtitle">Cotiza y contrata en 5 minutos</p>
                  </div>
                </div>
              </div>
              </div>
            </div>

             <div class="col-lg-4 col-md-6 col-sm-12 col-12 offset-lg-1 formu pdnone">
               <div class="row">
                        <div class="text-white mab txtw1">
                            <div class="txtw1 padd">
                                <div class="lg-ve d-none d-md-block"></div>
                                <div class="col-sm-12 col-md-4 col-lg-3 py-5">
                      
                                </div>
                                <br>
                                <div class="col-12 col-sm-12 col-md-12">
                                    <h3 class="text-white">Gracias por cotizar tu seguro de auto</h3>
                                    <p class="text-white">Nos pondremos en contacto contigo, por favor espera nuestra
                                        llamada y revisa tu email.</p>
                                    <p class="text-white">Ejecutivo Asignado: <b>{{$store.state.ejecutivo.nombre}} / <a class="text-white atext" href="mailto:ejecutivo1017@ahorraseguros.mx">{{$store.state.ejecutivo.correo}}</a></b></p>
                                     <p class="text-white">Teléfono: <a :href="'tel:'+$store.state.config.telefonoAS" class="text-white"><b>{{$store.state.config.telefonoAS}}</b></a></p>
  
                                    <h5 class="text-white"></h5>
                                   
                                    <hr class="hr-fff"/>

                                </div>
                            </div>
                            <div class="d-sm-block d-md-none d-lg-none">
                                <div class="col-4 col-sm-4 col-md-4 col-lg-3" style="display:inline-block">
                                    <div class="text-white text-center"><img class="icon-asegura" src="/img/grua.svg"> 
                                      <span class="font1">Gruas </span>
                                      <span class="font1">ilimitadas</span>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4 col-md-4 col-lg-3 brdrs" style="display:inline-block">
                                    <div class="text-white text-center"><img class="icon-asegura" src="/img/asistencia.svg">
                                        <span class="font1">Asistencia vial sin límite</span>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4 col-md-4 col-lg-3" style="display:inline-block">
                                    <div class="text-white text-center"><img class="icon-asegura" src="/img/msi.svg"> 
                                         <span class="font1">Meses </span>
                                        <span class="font1">sin intereses</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 textw padpw l">
                                </div>
                            </div>
                        </div>

                </div>
            </div>
          </div>
        </div>
      </div>

    </section>
 
    <thank-content/>
    <creditcard-content/>
  </div></div>
</template>

<script>
  import gtagContent from '~/components/common/gtag.vue'
  import ThankContent from '~/components/content/ThankConten.vue'
  import creditcardContent from '~/components/content/creditcard.vue'
  import PrecioComponent from '~/components/common/Precio.vue'
  export default {
    components: {
      gtagContent,
      ThankContent,
      creditcardContent,
      PrecioComponent
    },
     head() {
      return {
        title: 'Multiva - Multiva Seguros –Mejor Seguro de auto Multiva.',
        meta: [
          {hid: 'Multiva Seguros', name: 'keywords', content: 'Multiva, Multiva Seguros, Seguros Multiva, Seguros de autos Multiva, Multiva Seguros Autos, Seguros Multiva Autos, Aseguradora Multiva'},
          {hid: 'description', name: 'description', content: 'Cotiza fácil, rápido y al mejor precio Multiva Seguros. Protege tu auto, ya que con el Mejor Seguro de Auto tenemos las mejores coberturas en Seguros de auto Multiva.'},
          {hid: 'robots', name: 'robots', content: 'index, follow'},
          {hid: 'author', name: 'author', content: 'Mejor Seguro de Auto'},
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'},
          {hid: 'canonical', rel: 'canonical', href:'https://multivasegurosautos.com/'}
        ],
      }
    },
    created: function () {
    // g_conversion.gtag_report_conversion();
      if (this.$store.state.formData.nombre != '') {
        this.$store.state.config.loading = true;
        if (this.$store.state.config.cotizacion) {
          this.$store.commit('cotizar');
        }
        else {
          this.$store.commit('saveData');
        }
      }
      else {
       //this.$router.replace({path: '/error/'});
      }
       this.$store.state.config.telefonoAS = '5528814670';
       this.$store.state.config.desc = 'grandes descuentos'; 
      this.$store.state.config.msi = 'Paga a Meses sin intereses';
    }

  };
</script>
