<template>
  <div>
    <section>
      <div class="row capa1 pRelative padd2">
        <div class="separadorito d-none d-sm-none d-md-block"></div>
        <div class="col-lg-10 offset-lg-1 mt-2">
          <div>
            <h2 class="title">Todos los beneficios de Multiva Seguros</h2>
          </div>
          <div>
            <p>En el Mejor Seguro de Auto sabemos, y conocemos a detalle sobre los beneficios que Multiva ha diseñado para ti, las cuales son ideales para poder tener la tranquilidad de respaldo que necesitas.</p>
            <p>Cuidar de tu automóvil es lo más importante, pues en caso de sufrir un accidente, o necesitar la reparación de auto, es ahí en donde los Seguros de Autos Multiva hacen presencia, pues se destacan por el fortalecimiento económico brindado a todos y cada uno de sus clientes, además de la más alta calidad en sus servicios.</p>
           <ul class="check">
            <li><i class="fa fa-check"></i> Dispones de un auto con chófer por el robo o la pérdida total de tu vehículo, y también si te encuentras en estado de ebriedad.</li>
            <li><i class="fa fa-check"></i> Los mejores talleres certificados ya sean por problemas mecánicos o de hojalatería.</li>
            <li><i class="fa fa-check"></i> Cero % en tu deducible en caso de sufrir el robo de tu auto, así como la pérdida por un accidente.</li>
            </ul>
          </div>
          <div>
            <h3 class="title">Recibe las mejores coberturas de Multiva Seguros</h3>
          </div>
          <div>
            <p>En el Mejor Seguro de Auto sabemos por experiencia, que no todos los clientes son iguales, sino todo lo contrario, cada uno es diferente, por lo cual, sus mismas necesidades cambiarán en comparación con otros.</p>
            <p>Comenzando por el tipo de protección que necesitan, y de acuerdo a las distintos tipos de cuidados que requieras, con las mejores coberturas del mercado, tales como:</p>
            <ul class="check">
            <li><i class="fa fa-check"></i> <b>Seguro de Autos Multiva</b> Plan Estandarizado: Mínima póliza requerida para poder transitar por el país, con la cual dispondrás de 250 mil pesos en Responsabilidad Civil, en caso de Daños a terceros, personas o bienes.</li>
            <li><i class="fa fa-check"></i> <b>Seguro para Autos Multiva</b> Cobertura Básica: Además de incluir los beneficios de un Plan estandarizado, con esta cobertura estarás protegido en Gastos médicos a ocupantes, así como asistencia vial y asesoría legal.</li>
            <li><i class="fa fa-check"></i> <b>El Mejor Seguro de Auto Multiva</b> Cobertura Limitada: Ofrece todo lo que una cobertura básica, además que en esta contarás con protección en caso de sufrir el Robo o pérdida total del automóvil.</li>
            <li><i class="fa fa-check"></i> <b>Autos Seguro Multiva</b> Cobertura Amplia: Plan con disponibilidad para ser adquirido por empresas, así como automóviles particulares, contarás con todos los beneficios ya mencionados, también así en caso de provocar Daños materiales, y cristales rotos.</li>
            <li><i class="fa fa-check"></i> <b>Seguros de Autos Multiva</b> Amplia Plus: La cobertura más completa que Seguros Multiva ofrece al mercado, pues al reunir todos los beneficios, con esta póliza estarás amparado por multas, corralón, un deducible del 0% por robo total y Daños materiales, así como Auto sustituto.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row back2">
        <div class="col-lg-12 back2Color d-flex justify-content-center align-items-center shadow">
          <a href="#" class="btn btn-primary text-white">Cotiza gratis ahora mismo</a>
        </div>
      </div>
    </section>
    <section>
      <div class="row capa1 pRelative padd2">
        <div class="separadorito"></div>
        <div class="col-lg-10 offset-lg-1">
          <div class="">
            <h3 class="title">Contrata tu Seguro de Auto Multiva en el Mejor Seguro de Auto</h3>
          </div>
          <div class="">
            <p>La protección que necesitas para ti, para tu familia y sobre todo para tu automóvil, ahora podrás obtenerla de la forma más sencilla. Con El Mejor Seguro de Auto ahora podrás contratar tu póliza con Seguros de Autos Multiva de manera muy sencilla y rápida. </p>
            <p>Obtendrás todos los beneficios para que cuides tu patrimonio ante cualquier situación que se te pueda presentar, pero también recibirás el respaldo necesario para todo tipo de siniestros a los que estás expuesto. Serás tú quien determine la cobertura que mejor se adapte a tus necesidades, además recuerda que estarás amparado en todo el país, así como en el extranjero.</p>
            <p>Nunca había sido tan fácil contratar una póliza de seguros, y es por eso que en El Mejor Seguro de Auto hemos innovado el mercado, ya que recibirás tu cotización en menos de 30 segundos, y también te brindaremos la asesoría que requieres para poder responder a todas tus dudas. Recuerda que con nosotros, únicamente necesitarás ingresar datos básicos de tu automóvil, así como personales. ¡Cotiza ya!</p>
          </div>
        </div>
      </div>
    </section>
       <section>
      <div class="row capa1 pRelative padd2">
        <div class="col-lg-10 offset-lg-1">
          <div class="">
            <h3 class="title">Conoce más sobre Seguros Multiva</h3>
          </div>
          <div>
            <p>Con más de 30 años de trayectoria incursionando en el mercado, Seguros Multiva es una compañía de origen mexicano que cuenta con una amplia experiencia dentro del sector asegurador, destacándose principalmente por contar con servicios de la más alta calidad, mediante los cuales ha conseguido que actualmente cuente con una notable presencia en clientes a nivel nacional, provocando así el ser considerada como una de las compañías de seguros con mayor prestigio, así como afianzarse entre las más importantes aseguradoras de autos en México.</p>
            <p>Mostrando en todo momento un potencial para crear soluciones eficientes contra todo tipo de imprevistos a los que estamos expuestos, así como estructurar servicios sumamente atractivos.</p>
            <p>Una compañía que se mantiene a la vanguardia del mercado, ese es el sello de Multiva, que a través los Seguros de Autos Multiva se ha posicionado entre las aseguradoras más importantes de nuestro país, en donde se ha caracterizado por innovar constantemente en sus herramientas o servicios, mediante los cuales logran afianzarse como una empresa responsable.</p>
            <p>De forma rápida logra establecer un fuerte lazo entre aseguradora y asegurado, ya que además de todo cuenta con una solidez financiera que le permite responder a las necesidades que tienen sus clientes, pero también día con día están al tanto de las tendencias e innovaciones tecnológicas que surgen en el mercado.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
