<template>
  <div>
     <section>
      <div class="row capa1 pRelative padd2">
        <div class="separadorito"></div>
        <div class="col-lg-10 offset-lg-1">
          <div class="">
            <h3 class="title">Contrata tu Seguro de Auto Multiva en el Mejor Seguro de Auto</h3>
          </div>
          <div class="">
            <p>La protección que necesitas para ti, para tu familia y sobre todo para tu automóvil, ahora podrás obtenerla de la forma más sencilla. Con El Mejor Seguro de Auto ahora podrás contratar tu póliza con Seguros de Autos Multiva de manera muy sencilla y rápida. </p>
            <p>Obtendrás todos los beneficios para que cuides tu patrimonio ante cualquier situación que se te pueda presentar, pero también recibirás el respaldo necesario para todo tipo de siniestros a los que estás expuesto. Serás tú quien determine la cobertura que mejor se adapte a tus necesidades, además recuerda que estarás amparado en todo el país, así como en el extranjero.</p>
            <p>Nunca había sido tan fácil contratar una póliza de seguros, y es por eso que en El Mejor Seguro de Auto hemos innovado el mercado, ya que recibirás tu cotización en menos de 30 segundos, y también te brindaremos la asesoría que requieres para poder responder a todas tus dudas. Recuerda que con nosotros, únicamente necesitarás ingresar datos básicos de tu automóvil, así como personales. ¡Cotiza ya!</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
